@font-face { font-family: Kenvector; src: url('../css/kenvector_future_thin.ttf'); }

body {
    background-color: #333333;
    background-size: cover;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    background-image: url('../img/Promo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.content {
    position: relative;
    left: 0;
    right: 0;
    z-index: 2;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    color: white;
}

h1, h3 {
    color: #fa743e;
    background-color: transparent;
    text-align: center;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

a {
    color: #fa743e;
}

.jumbotron {
    background-color: transparent;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.jumbotron h1 {
    color: #fff;
    font-family: Kenvector;
}

#jumbotron-paragraph-content {
    border: solid 3px rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.4);
    width: 760px;
    margin: 10px auto;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    span.text {
        padding-top: 75px;
        text-align: center;
        display: block;
    }
    .navbar-center {
        padding-right: 10px;
    }
}

.modal-body#privacy-body {
    min-height: 150px;
    min-width: 150px;
    max-height: 300px;
    overflow-y: scroll;
}

.input-group-addon {
    min-width: 100px;
}

div.c-wrapper{
    width: 45%; /* for example */
    margin: auto;
}

.carousel-inner > .item > iframe,
.carousel-inner > .item > a > iframe{
    width: 100%; /* use this, or not */
    margin: auto;
}

.carousel-control.left, .carousel-control.right {
    background: none;
    color: red;
    border: none;
}

.carousel-control.left {margin-left: -105px; color: white;}
.carousel-control.right {margin-right: -75px; color: white;}

input:required:invalid, input:focus:invalid {
    border-color: red;
}

input:required:valid {
    border-color: green;
}